@{
Layout = "Shared/_ExpensesLayout";
}

<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">Delete Expense</h5>
        <div class="card-body">
            <h6 class="card-title">Are you sure you want to delete the following expense record?</h6>

            <div class="table-responsive text-nowrap">
                <table class="table">
                    <caption class="ms-4">
                        Income Details
                    </caption>
                    <thead>
                    <tr>
                        <th>Source</th>
                        <th>Amount</th>
                        <th>Date Received</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <i class="bx bx-briefcase fa-lg text-primary me-3"></i> <strong>@Model.Category</strong>
                        </td>
                        <td>@Model.Amount.ToString("C")</td>
                        <td>@Model.DateSpent.ToString("dd-MM-yyyy")</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form method="post">
                <input type="hidden" name="id" value="@Model.ExpenseId" />

                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="@Url.Action("ExpensesList", "Expenses")" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
