@*
@inject Microsoft.Extensions.Localization.IStringLocalizer<ExpenseCategories> Localizer
*@
@{
    ViewData["Title"] = @ExpensesText.DeleteExpense;
    Layout = "Shared/_ExpensesLayout";
}

<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">@ExpensesText.DeleteExpense</h5>
        <div class="card-body">
            <h6 class="card-title">@ExpensesText.DeleteWarning</h6>

            <div class="table-responsive text-nowrap">
                <table class="table">
                    <caption class="ms-4">
                        @ExpensesText.ExpenseDetails
                    </caption>
                    <thead>
                    <tr>
                        <th>@ExpensesText.ExpenseCategory</th>
                        <th>@ExpensesText.Amount</th>
                        <th>@ExpensesText.DateSpent</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        @*<td>
                            <i class="bx bx-briefcase fa-lg text-primary me-3"></i> <strong>@Localizer[Model.Category.ToString()]</strong>

                        </td>*@
                        <td>@Model.Amount.ToString("C")</td>
                        <td>@Model.DateSpent.ToString("dd-MM-yyyy")</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form method="post">
                <input type="hidden" name="id" value="@Model.ExpenseId"/>

                <button type="submit" class="btn btn-danger">@ExpensesText.Delete</button>
                <a href="@Url.Action("ExpensesList", "Expenses")" class="btn btn-secondary">@ExpensesText.Cancel</a>
            </form>
        </div>
    </div>
</div>