@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Zira.Data.Enums
@using Zira.Presentation.Extensions
@model Zira.Data.Expense
@{
    ViewData["Title"] = @ExpensesText.EditExpenses;
    Layout = "Shared/_ExpensesLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@ExpensesText.EditExpenses</h5>
        <div class="card-body">
            <form method="post">
                <input type="hidden" asp-for="ExpenseId"/>

                <div class="mb-3">
                    <label asp-for="Category" class="form-label">@ExpensesText.ExpenseCategory</label>
                    <select asp-for="Category" class="form-control">
                        @foreach (var category in Enum.GetValues(typeof(Categories)).Cast<Categories>())
                        {
                            <option value="@category">@category.GetLocalizedExpenseCategory()</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Amount" class="form-label">@ExpensesText.Amount</label>
                    <input type="number" step="0.01" asp-for="Amount" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label asp-for="DateSpent" class="form-label">@ExpensesText.DateSpent</label>
                    <input type="date" asp-for="DateSpent" class="form-control"/>
                </div>

                <button type="submit" class="btn btn-primary">@ExpensesText.SaveChanges</button>
            </form>
        </div>
    </div>
</div>