@model ChangePasswordViewModel
@{
Layout = "Shared/_AccountLayout";
}

<title>Change Password</title>

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h4 class="mb-2">@AuthenticationText.ChangePasswordTitle</h4>
                    </div>

                    <form id="formAuthentication" asp-action="ChangePassword" method="post">
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            <label class="form-label" for="oldPassword">@AuthenticationText.OldPasswordLabel</label>
                            <input type="password" class="form-control" asp-for="OldPassword" placeholder="••••••••" />
                            <span class="text-danger text-small" asp-validation-for="OldPassword"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="newPassword">@AuthenticationText.NewPasswordLabel</label>
                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="••••••••" />
                            <span class="text-danger text-small" asp-validation-for="NewPassword"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="confirmNewPassword">@AuthenticationText.ConfirmNewPasswordLabel</label>
                            <input type="password" class="form-control" asp-for="ConfirmNewPassword" placeholder="••••••••" />
                            <span class="text-danger text-small" asp-validation-for="ConfirmNewPassword"></span>
                        </div>

                        <button type="submit" class="btn btn-primary d-grid w-100">@AuthenticationText.ChangePasswordButtonText</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.form-password-toggle .input-group-text').forEach(function (element) {
        element.addEventListener('click', function () {
            let input = this.previousElementSibling;
            if (input.type === 'password') {
                input.type = 'text';
                this.querySelector('i').classList.replace('bx-hide', 'bx-show');
            } else {
                input.type = 'password';
                this.querySelector('i').classList.replace('bx-show', 'bx-hide');
            }
        });
    });
</script>
