@model Zira.Presentation.Models.ProfileViewModel

@{
    ViewData["Title"] = @AccountText.Profile;
    Layout = "Shared/_ProfileLayout";
}

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4">@AccountText.Profile</h4>

                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <h5 class="card-header">@AccountText.ProfileDetails</h5>
                                <div class="card-body">
                                    <form asp-action="UpdateProfile" asp-controller="Account" method="post" enctype="multipart/form-data">
                                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                                            <img src="@Model.AvatarUrl" alt="user-avatar"
                                                 class="d-block rounded" height="100" width="100" id="uploadedAvatar"/>

                                            <div class="button-wrapper">
                                                <label for="upload" class="btn btn-primary me-2 mb-4">
                                                    <span>@AccountText.UploadNewPhoto</span>
                                                    <input type="file" id="upload" name="AvatarFile" class="account-file-input" hidden accept="image/png, image/jpeg"/>
                                                </label>

                                                <input type="hidden" name="resetAvatar" id="resetAvatar" value="false"/>

                                                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" id="resetImage">
                                                    @AccountText.Reset
                                                </button>
                                            </div>
                                        </div>

                                        <hr class="my-4"/>

                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="FirstName" class="form-label">@AccountText.FirstName</label>
                                                <input class="form-control" type="text" id="FirstName" name="FirstName" value="@Model.FirstName"/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="LastName" class="form-label">@AccountText.LastName</label>
                                                <input class="form-control" type="text" name="LastName" id="LastName" value="@Model.LastName"/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="Email" class="form-label">@AccountText.Email</label>
                                                <input class="form-control" type="email" id="Email" name="Email" value="@Model.Email"/>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="BirthDate" class="form-label">@AccountText.BirthDate</label>
                                                <input class="form-control" type="date" id="BirthDate" name="BirthDate" value="@Model.BirthDate.ToString("dd-MM-yyyy")"/>
                                            </div>
                                        </div>

                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary me-2">@AccountText.Save</button>
                                            <a asp-action="Index" asp-controller="Dashboard" class="btn btn-outline-secondary">@AccountText.Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">@AccountText.ChangePassword</h5>
                        <div class="card-body">
                            <form id="formAccountDeactivation" asp-action="ChangePassword" method="get">
                                <button type="submit" class="btn btn-primary">@AccountText.ChangePassword</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="content-backdrop fade"></div>


            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('upload').addEventListener('change', function (event) {
        const fileInput = event.target;
        if (fileInput.files.length > 0) {
            const file = fileInput.files[0];

            const allowedTypes = ["image/jpeg", "image/png", "image/gif"];
            if (!allowedTypes.includes(file.type)) {
                alert("Invalid file type. Please upload a JPG, PNG, or GIF.");
                fileInput.value = "";
                return;
            }

            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('uploadedAvatar').src = e.target.result;
            };
            reader.readAsDataURL(file);

            document.getElementById('resetAvatar').value = "false";
        }
    });

    document.getElementById('resetImage').addEventListener('click', function () {
        document.getElementById('uploadedAvatar').src = "/dashboard/assets/img/avatars/default.jpg";

        document.getElementById('resetAvatar').value = "true";

        document.getElementById('upload').value = "";
    });
</script>