@model Zira.Presentation.Models.ReminderViewModel

@{
    ViewData["Title"] = @ReminderText.CreateReminder;
    Layout = "Shared/_AutomationLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4 d-flex align-items-center gap-2">
        <i class="bx bx-bell text-primary"></i> @ReminderText.CreateReminder
    </h4>

    <div class="card shadow-lg border-0">
        <h5 class="card-header bg-white py-3 px-4">@ReminderText.NewReminder</h5>
        <div class="card-body p-4">
            <form id="reminderForm" method="post" asp-action="CreateReminder">
                <div class="mb-3">
                    <label asp-for="Title">@ReminderText.Title</label>
                    <div class="input-group">
                        <span id="transaction-amount-icon" class="input-group-text">
                            <i class="bx bx-money"></i>
                        </span>
                        <input asp-for="Title" class="form-control" required/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Remark">@ReminderText.Remark</label>
                    <div class="input-group">
                        <span id="transaction-amount-icon" class="input-group-text">
                            <i class="bx bx-notepad"></i>
                        </span>
                        <textarea asp-for="Remark" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Amount">@ReminderText.Amount</label>
                    <div class="input-group">
                        <span id="transaction-amount-icon" class="input-group-text">
                            <i class="bx bx-money"></i>
                        </span>
                        <input asp-for="Amount" type="number" class="form-control" required/>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">@DashboardText.Currency</label>
                    <div class="input-group">
                        <span id="transaction-amount-icon" class="input-group-text">
                            <i class="bx bxs-bank"></i>
                        </span>
                        <select name="CurrencyCode" class="form-control">
                            @foreach (var currency in ViewBag.Currencies as List<string>)
                            {
                                <option value="@currency" selected="@(currency == ViewBag.DefaultCurrency)">@currency</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="mb-3">
                    <label asp-for="DueDate">@ReminderText.DueDate</label>
                    <div class="input-group">
                        <span id="transaction-amount-icon" class="input-group-text">
                            <i class="bx bxs-calendar"></i>
                        </span>
                        <input asp-for="DueDate"
                               type="text"
                               class="form-control datepicker"
                               id="transaction-date"
                               required
                               placeholder="Select date"/>
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">@ReminderText.SaveReminder</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datepicker", {
            dateFormat: "d/m/Y",
            allowInput: true,
            defaultDate: new Date(),
        });
    });
</script>