@{
Layout = "Shared/_ExpensesLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Expenses</h4>

    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <caption class="ms-4">
                    List of Expenses
                </caption>
                <thead>
                <tr>
                    <th>Source</th>
                    <th>Amount</th>
                    <th>Date Received</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var expense in Model)
                {
                <tr>
                    <td>
                        <i class="bx bx-briefcase fa-lg text-primary me-3"></i> <strong>@expense.Category</strong>
                    </td>
                    <td>@expense.Amount.ToString("C")</td>
                    <td>@expense.DateSpent.ToString("dd-MM-yyyy")</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("EditExpenses", "ExpensesManagement", new { id = expense.ExpenseId })">
                                    <i class="bx bx-edit-alt me-1"></i> Edit
                                </a>
                                <a class="dropdown-item" href="@Url.Action("DeleteExpense", "ExpensesManagement", new { id = expense.ExpenseId })">
                                    <i class="bx bx-trash me-1"></i> Delete
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>