@*@using Zira.Presentation.Extensions
@model Zira.Data.Models.Budget
@{
    ViewData["Title"] = @BudgetText.DeleteBudget;
    Layout = "Shared/_BudgetLayout";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@BudgetText.DeleteBudget</h5>
        <div class="card-body">
            <h6 class="card-title">@BudgetText.Warning</h6>

            <div class="table-responsive text-nowrap">
                <table class="table">
                    <caption class="ms-4">@BudgetText.BudgetDetails</caption>
                    <thead>
                    <tr>
                        <th>@BudgetText.BudgetCategory</th>
                        <th>@BudgetText.BudgetAmount</th>
                        <th>@BudgetText.BudgetMonth</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <i class="bx bx-briefcase fa-lg text-primary me-3"></i> <strong>@Model.Category.GetLocalizedExpenseCategory()</strong>
                        </td>
                        <td>@Model.Amount.ToString("C")</td>
                        <td>@Model.Month.ToString("MMMM yyyy")</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form asp-action="DeleteBudget" asp-controller="Budget" method="post">
                <input type="hidden" name="id" value="@Model.BudgetId"/>

                <button type="submit" class="btn btn-danger">@BudgetText.Delete</button>
                <a href="@Url.Action("ViewBudgets", "Budget")" class="btn btn-secondary">@BudgetText.Cancel</a>
            </form>
        </div>
    </div>
</div>*@