@model Zira.Data.Models.Budget
@{
    ViewData["Title"] = "Delete Budget";
    Layout = "Shared/_BudgetLayout";
}
<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">Delete Budget</h5>
        <div class="card-body">
            <h6 class="card-title">Are you sure you want to delete this budget?</h6>

            <div class="table-responsive text-nowrap">
                <table class="table">
                    <caption class="ms-4">Budget Details</caption>
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Month</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <i class="bx bx-briefcase fa-lg text-primary me-3"></i> <strong>@Model.Category</strong>
                        </td>
                        <td>@Model.Amount.ToString("C")</td>
                        <td>@Model.Month.ToString("MMMM yyyy")</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form asp-action="DeleteBudget" asp-controller="Budget" method="post">
                <input type="hidden" name="id" value="@Model.BudgetId"/>

                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="@Url.Action("ViewBudgets", "Budget")" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>