@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Zira.Data.Enums
@using Zira.Presentation.Extensions
@model Zira.Data.Models.Budget
@{
    ViewData["Title"] = @BudgetText.EditBudget;
    Layout = "Shared/_BudgetLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@BudgetText.EditBudget</h5>
        <div class="card-body">
            <form asp-action="EditBudget" asp-controller="Budget" method="post">
                <input type="hidden" asp-for="BudgetId"/>

                <div class="mb-3">
                    <label asp-for="Category" class="form-label">@BudgetText.BudgetCategory</label>
                    <select asp-for="Category" class="form-control">
                        @foreach (var category in Enum.GetValues(typeof(Categories)).Cast<Categories>())
                        {
                        <option value="@category">@category.GetLocalizedExpenseCategory()</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Amount" class="form-label">@BudgetText.BudgetAmount</label>
                    <input type="number" step="0.01" asp-for="Amount" class="form-control" required/>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Month" class="form-label">@BudgetText.BudgetMonth</label>
                    <input type="month" asp-for="Month" class="form-control" required/>
                    <span asp-validation-for="Month" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">@BudgetText.SaveChanges</button>
                <a href="@Url.Action("ViewBudgets", "Budget")" class="btn btn-secondary">@BudgetText.Cancel</a>
            </form>
        </div>
    </div>
</div>