@model BudgetViewModel
@{
    ViewData["Title"] = @BudgetText.EditBudget;
    Layout = "Shared/_BudgetLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@BudgetText.EditBudget</h5>
        <div class="card-body">
            <form asp-action="EditBudget" asp-controller="Budget" method="post">
                <input type="hidden" asp-for="Id"/>

                @if (TempData["SuccessMessage"] != null)
                {
                <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                    @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                }

                <div class="mb-3">
                    <label class="form-label" asp-for="Category">@BudgetText.BudgetCategory</label>
                    <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bx bx-briefcase"></i>
                                </span>
                        <select class="form-control" id="expense-category" name="Category">
                            <option value="" disabled selected>@TransactionText.SelectACategory</option>
                            @foreach (var category in Enum.GetValues(typeof(Categories)).Cast<Categories>())
                            {
                            <option value="@category" selected="@(Model.Category == category ? "selected" : null)">
                                @category.GetLocalizedExpenseCategory()
                            </option>
                            }
                        </select>
                    </div>
                    <span class="text-danger" asp-validation-for="Category"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Amount">@BudgetText.BudgetAmount</label>
                    <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bx bx-wallet"></i>
                                </span>
                        <input type="number" asp-for="Amount" class="form-control" step="0.01" placeholder="Enter amount"/>
                    </div>
                    <span class="text-danger" asp-validation-for="Amount"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="WarningThreshold">@BudgetText.WarningThreshold</label>
                    <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bx bx-bell"></i>
                                </span>
                        <input type="number"
                               asp-for="WarningThreshold"
                               class="form-control"
                               max="100"
                               placeholder="Set warning threshold"/>
                    </div>
                    <span class="text-danger" asp-validation-for="WarningThreshold"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Remark" class="form-label fw-medium text-gray-700 mb-2">
                        @TransactionText.Remark
                    </label>
                    <div class="input-group">
                                <span id="transaction-remark-icon" class="input-group-text">
                                    <i class='bx bx-notepad'></i>
                                </span>
                        <input asp-for="Remark" type="text" class="form-control" id="Remark"/>

                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Month">@BudgetText.BudgetMonth</label>
                    <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bx bx-calendar"></i>
                                </span>
                        <input type="month" asp-for="Month" class="form-control"/>
                    </div>
                    <span class="text-danger" asp-validation-for="Month"></span>
                </div>

                <button type="submit" class="btn btn-primary">@BudgetText.SaveChanges</button>
                <a href="@Url.Action("ViewBudgets", "Budget")" class="btn btn-secondary">@BudgetText.Cancel</a>
            </form>
        </div>
    </div>
</div>