@model LoginViewModel
@{
Layout = "_AuthenticationLayout";
}

<title>Login</title>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card">
                <div class="card-body">
                    <div class="app-brand justify-content-center mb-4">
                        <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2 text-decoration-none">
                            <span class="app-brand-text demo text-body fw-bolder">Zira</span>
                        </a>
                    </div>

                    <p class="mb-4">@Text.LoginSubtitle</p>

                    <form id="formAuthentication" asp-action="Login" method="post" class="mb-3">
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            <label for="email-username" class="form-label">@Text.EmailLabel</label>
                            <input
                                type="text"
                                class="form-control @(ViewData.ModelState["email-username"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                placeholder="@Text.EmailLabel"
                                asp-for="Email"
                                value="@ViewData["email-username"]" />
                            @if (ViewData.ModelState["email-username"]?.Errors.Count > 0)
                            {
                            <div class="invalid-feedback">@ViewData.ModelState["email-username"]?.Errors[0].ErrorMessage</div>
                            }
                        </div>

                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label for="password" class="form-label">@Text.PasswordLabel</label>
                                <a asp-controller="Authentication" asp-action="ForgotPassword" class="text-decoration-none">
                                    <small>@Text.ForgotPasswordButton</small>
                                </a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input
                                    type="password"
                                    class="form-control @(ViewData.ModelState["password"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                    asp-for="Password"
                                    placeholder="••••••••"
                                    aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                @if (ViewData.ModelState["password"]?.Errors.Count > 0)
                                {
                                <div class="invalid-feedback">@ViewData.ModelState["password"]?.Errors[0].ErrorMessage</div>
                                }
                            </div>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">@Text.SignInButton</button>
                        </div>
                    </form>

                    <p class="text-center">
                        <span>@Text.NewUser</span>
                        <a asp-controller="Authentication" asp-action="Register" class="text-decoration-none">
                            <span>@Text.SignUpButton</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>