@model ResetPasswordViewModel
@{
Layout = "_AuthenticationLayout";
}

<title>Reset Password</title>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h4 class="mb-2">@AuthenticationText.ResetPasswordTitle</h4>
                    </div>

                    <form id="formAuthentication" asp-action="ResetPassword" asp-route-email="@Model.Email" asp-route-token="@Model.Token" method="post">
                        @Html.AntiForgeryToken()
                        <input asp-for="Email" type="hidden">
                        <input asp-for="Token" type="hidden">

                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="password">@AuthenticationText.PasswordLabel</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" asp-for="Password" placeholder="••••••••" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span class="text-danger text-small" asp-validation-for="Password"></span>
                        </div>

                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="confirmPassword">@AuthenticationText.ConfirmPasswordLabel</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="confirmPassword" class="form-control" asp-for="ConfirmPassword" placeholder="••••••••" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span class="text-danger text-small" asp-validation-for="ConfirmPassword"></span>
                        </div>

                        <button type="submit" class="btn btn-primary d-grid w-100">@AuthenticationText.ResetPasswordButtonText</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.form-password-toggle .input-group-text').forEach(function (element) {
        element.addEventListener('click', function () {
            let input = this.previousElementSibling;
            if (input.type === 'password') {
                input.type = 'text';
                this.querySelector('i').classList.replace('bx-hide', 'bx-show');
            } else {
                input.type = 'password';
                this.querySelector('i').classList.replace('bx-show', 'bx-hide');
            }
        });
    });
</script>
