@model Zira.Data.Models.Transaction

@{
    ViewData["Title"] = @TransactionText.AddTransaction;
    Layout = "Shared/_TransactionsLayout";
}

<div class="content-wrapper">
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-center align-items-center">
                    <h5 class="mb-0 text-center">@TransactionText.AddTransaction</h5>
                </div>
                <div class="card-body">
                    <form asp-action="AddTransaction" asp-controller="Transactions" method="post">
                        <div class="mb-3">
                            <label class="form-label">@TransactionText.TransactionType</label>
                            <div class="form-check">
                                <input asp-for="Type" type="radio" class="form-check-input" value="Income" id="type-income" onclick="toggleTransactionFields()">
                                <label class="form-check-label" for="type-income">@TransactionTypes.Income</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Type" type="radio" class="form-check-input" value="Expense" id="type-expense" onclick="toggleTransactionFields()">
                                <label class="form-check-label" for="type-expense">@TransactionTypes.Expense</label>
                            </div>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>

                        <div id="income-fields" class="transaction-fields d-none">
                            <div class="mb-3">
                                <label class="form-label" for="transaction-source">@TransactionText.Source</label>
                                <div class="input-group input-group-merge">
                                    <span id="transaction-source-icon" class="input-group-text">
                                        <i class="bx bx-credit-card"></i>
                                    </span>
                                    <select asp-for="Source" class="form-control" id="transaction-source">
                                        <option value="" disabled selected>@TransactionText.SelectASource</option>
                                        @foreach (var source in ViewBag.Sources as Sources[])
                                        {
                                            <option value="@source">@source.GetLocalizedIncomeSource()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Source" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div id="expense-fields" class="transaction-fields d-none">
                            <div class="mb-3">
                                <label class="form-label" for="transaction-category">@TransactionText.Category</label>
                                <div class="input-group input-group-merge">
                                    <span id="transaction-category-icon" class="input-group-text">
                                        <i class="bx bx-briefcase"></i>
                                    </span>
                                    <select asp-for="Category" class="form-control" id="transaction-category">
                                        <option value="" disabled selected>@TransactionText.SelectACategory</option>
                                        @foreach (var category in ViewBag.Categories as Categories[])
                                        {
                                            <option value="@category">@category.GetLocalizedExpenseCategory()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Category" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="transaction-amount">@TransactionText.Amount</label>
                            <div class="input-group">
                                <span id="transaction-amount-icon" class="input-group-text">
                                    <i class="bx bx-money"></i>
                                </span>
                                <input asp-for="Amount" type="number" class="form-control" id="transaction-amount" placeholder="@TransactionText.Amount" required step="0.01"/>
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Currency</label>
                            <select name="CurrencyCode" class="form-control">
                                @foreach (var currency in ViewBag.Currencies as List<string>)
                                {
                                    <option value="@currency" selected="@(currency == ViewBag.DefaultCurrency)">@currency</option>
                                }
                            </select>
                        </div>


                        <div class="mb-3">
                            <label asp-for="Remark" class="form-label fw-medium text-gray-700 mb-2">
                                @TransactionText.Remark
                            </label>
                            <div class="input-group">
                                <span id="transaction-remark-icon" class="input-group-text">
                                    <i class='bx bx-notepad'></i>
                                </span>
                                <input asp-for="Remark" type="text" class="form-control" id="Remark"/>

                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Reference" class="form-label fw-medium text-gray-700 mb-2">
                                @TransactionText.Reference
                            </label>
                            <div class="input-group">
                                <span id="transaction-reference-icon" class="input-group-text">
                                    <i class='bx bx-notepad'></i>
                                </span>
                                <input asp-for="Reference" type="text" class="form-control" id="Reference"/>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label" for="transaction-date">@TransactionText.TransactionDate</label>
                            <div class="input-group input-group-merge">
                                <span id="transaction-date-icon" class="input-group-text">
                                    <i class="bx bx-calendar"></i>
                                </span>
                                <input asp-for="Date"
                                       type="text"
                                       class="form-control datepicker"
                                       id="transaction-date"
                                       required
                                       placeholder="Select date"/>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">@TransactionText.AddTransaction</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleTransactionFields() {
        let isIncome = document.getElementById("type-income").checked;
        let isExpense = document.getElementById("type-expense").checked;

        document.getElementById("income-fields").classList.toggle("d-none", !isIncome);
        document.getElementById("expense-fields").classList.toggle("d-none", !isExpense);
    }

    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datepicker", {
            dateFormat: "d/m/Y",
            allowInput: true,
            defaultDate: new Date(),
        });
    });
</script>