@using Zira.Data.Enums
@model Zira.Data.Models.Transaction
@{
    ViewData["Title"] = @TransactionText.DeleteTransaction;
    Layout = "Shared/_TransactionsLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@TransactionText.DeleteTransaction</h5>
        <div class="card-body">
            <h6 class="card-title">@TransactionText.Warning</h6>
            <div class="mb-3">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>@TransactionText.Category</th>
                            <th>@TransactionText.Amount</th>
                            <th>@TransactionText.TransactionDate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            @if (Model.Type == TransactionType.Income)
                            {
                                <td>@Model.Source?.GetLocalizedIncomeSource()</td>
                            }
                            else
                            {
                                <td>@Model.Category?.GetLocalizedExpenseCategory()</td>
                            }
                            <td>@Model.Amount.ToString("C")</td>
                            <td>@Model.Date.ToString("dd-MM-yyyy")</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mb-3">
                <form method="post">
                    <input type="hidden" name="id" value="@Model.Id"/>

                    <button type="submit" class="btn btn-danger">@TransactionText.Delete</button>
                    <a href="@Url.Action("TransactionList", "Transactions")" class="btn btn-secondary">@TransactionText.Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>