@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Zira.Data.Enums
@model Zira.Data.Models.Transaction
@{
    ViewData["Title"] = @TransactionText.EditTransaction;
    Layout = "Shared/_TransactionsLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@TransactionText.EditTransaction</h5>
        <div class="card-body">
            <form method="post">
                <input type="hidden" asp-for="Id"/>
                <div class="mb-3">
                <label asp-for="Amount" class="form-label">@TransactionText.Source</label>
                @if (ViewBag.IsIncome)
                {
                    <select asp-for="Source" class="form-control" id="transaction-source">
                        <option value="" disabled selected>@TransactionText.SelectASource</option>
                        @foreach (var source in ViewBag.Sources as Sources[])
                        {
                            <option value="@source">@source.GetLocalizedIncomeSource()</option>
                        }
                    </select>
                    <span asp-validation-for="Source" class="text-danger"></span>
                }
                else
                {
                    <select asp-for="Category" class="form-control" id="transaction-source">
                        <option value="" disabled selected>@TransactionText.SelectACategory</option>
                        @foreach (var category in ViewBag.Categories as Categories[])
                        {
                            <option value="@category">@category.GetLocalizedExpenseCategory()</option>
                        }
                    </select>
                    <span asp-validation-for="Source" class="text-danger"></span>
                }
                </div>
                <div class="mb-3">
                    <label class="form-label" for="transaction-amount">@TransactionText.Amount</label>
                    <div class="input-group">
                                <span id="transaction-amount-icon" class="input-group-text">
                                    <i class="bx bx-money"></i>
                                </span>
                        <input asp-for="Amount" type="number" class="form-control" id="transaction-amount" placeholder="@TransactionText.Amount" required step="0.01"/>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Remark" class="form-label fw-medium text-gray-700 mb-2">
                        @TransactionText.Remark
                    </label>
                    <div class="input-group">
                                <span id="transaction-remark-icon" class="input-group-text">
                                    <i class='bx bx-notepad'></i>
                                </span>
                        <input asp-for="Remark" type="text" class="form-control" id="Remark"/>

                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Reference" class="form-label fw-medium text-gray-700 mb-2">
                        @TransactionText.Remark
                    </label>
                    <div class="input-group">
                                <span id="transaction-reference-icon" class="input-group-text">
                                    <i class='bx bx-notepad'></i>
                                </span>
                        <input asp-for="Reference" type="text" class="form-control" id="Reference"/>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="transaction-date">@TransactionText.TransactionDate</label>
                    <div class="input-group input-group-merge">
                                <span id="transaction-date-icon" class="input-group-text">
                                    <i class="bx bx-calendar"></i>
                                </span>
                        <input asp-for="Date"
                               type="date"
                               class="form-control date-picker-input"
                               id="transaction-date"
                               required
                               placeholder="Select date"/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">@TransactionText.SaveChanges</button>
                <a href="@Url.Action("TransactionList", "Transactions")" class="btn btn-secondary">@BudgetText.Cancel</a>

            </form>
        </div>
    </div>
</div>