@using Zira.Data.Enums



<div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">@TransactionText.RecentTransactions</h5>
    </div>
    <div class="card-body">
        <ul class="p-0 m-0">
            @if (ViewBag.RecentTransactions != null && ViewBag.RecentTransactions.Count > 0)
            {
                @foreach (var transaction in ViewBag.RecentTransactions)
                {
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            @if (transaction.Type == TransactionType.Expense)
                            {
                                <img src="dashboard/assets/img/icons/unicons/cc-warning.png" alt="User" class="rounded"/>
                            }
                            else
                            {
                                <img src="dashboard/assets/img/icons/unicons/wallet.png" alt="User" class="rounded"/>
                            }
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                @if (transaction.Type == TransactionType.Expense)
                                {
                                    <h6 class="mb-0">@transaction.Category</h6>
                                }
                                else
                                {
                                    <h6 class="mb-0">@transaction.Source</h6>
                                }
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                                <h6 class="mb-0 @(transaction.Type == TransactionType.Expense ? "text-danger" : "text-success")">
                                    @(transaction.Type == TransactionType.Expense ? "-" : "+") @transaction.Amount.ToString("C")
                                </h6>
                            </div>
                        </div>
                    </li>
                }
            }
            else
            {
                <li class="text-center text-muted">@DashboardText.NoRecentTransactions</li>
            }
        </ul>
    </div>
</div>