@{
    Layout = "Shared/_IncomeLayout";
}

<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">@IncomeText.DeletеIncome</h5>
        <div class="card-body">
            <h6 class="card-title">@IncomeText.DeleteWarning</h6>

            <div class="table-responsive text-nowrap">
                <table class="table">
                    <caption class="ms-4">
                        @IncomeText.IncomeDetails
                    </caption>
                    <thead>
                    <tr>
                        <th>@IncomeText.Source</th>
                        <th>@IncomeText.Amount</th>
                        <th>@IncomeText.DateReceived</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <i class="bx bx-briefcase fa-lg text-primary me-3"></i> <strong>@Model.Source</strong>
                        </td>
                        <td>@Model.Amount.ToString("C")</td>
                        <td>@Model.DateReceived.ToString("dd-MM-yyyy")</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form method="post">
                <input type="hidden" name="id" value="@Model.IncomeId"/>

                <button type="submit" class="btn btn-danger">@IncomeText.Delete</button>
                <a href="@Url.Action("IncomeList", "Incomes")" class="btn btn-secondary">@IncomeText.Cancel</a>
            </form>
        </div>
    </div>
</div>