<section id="features" class="features section">
    <div class="container section-title" data-aos="fade-up">
        <h2>@LandingText.Features</h2>
        <p>@LandingText.FeaturesDesc</p>
    </div>

    <div class="container">

        <div class="d-flex justify-content-center">

            <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">

                <li class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                        <h4>@LandingText.FeatureBox1</h4>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                        <h4>@LandingText.FeatureBox2</h4>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                        <h4>@LandingText.FeatureBox3</h4>
                    </a>
                </li>

            </ul>

        </div>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

            <div class="tab-pane fade active show" id="features-tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                        <h3>@LandingText.Feature1</h3>
                        <p class="fst-italic">
                            @LandingText.FeatureDesc1
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature1Point1</span>
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature1Point2</span>
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature1Point3</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/landing page/img/features-illustration-1.webp" alt="Expense Tracking" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="features-tab-2">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                        <h3>@LandingText.Feature2</h3>
                        <p class="fst-italic">
                            @LandingText.FeatureDesc2
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature2Point1</span>
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature2Point2</span>
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature2Point3</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/landing page/img/features-illustration-2.webp" alt="Budget Planning" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="features-tab-3">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                        <h3>@LandingText.Feature3</h3>
                        <p class="fst-italic">
                            @LandingText.FeatureDesc3
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature3Point1</span>
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature3Point2</span>
                            </li>
                            <li>
                                <i class="bi bi-check2-all"></i> <span>@LandingText.Feature3Point3</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/landing page/img/features-illustration-3.webp" alt="Financial Insights" class="img-fluid">
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>