<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center">
          <span class="sitename">Zira</span>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>@LandingText.UsefulLink</h4>
        <ul>
          <li><a href="https://github.com/codingburgas/2425-dzi-csharp-KKDinev20">@LandingText.AboutUs</a></li>
          <li><a href="#services">@LandingText.Services</a></li>
          <li><a href="https://github.com/codingburgas/2425-dzi-csharp-KKDinev20">@LandingText.TermsOfService</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>@LandingText.Services</h4>
        <ul>
          <li><a href="#features">@LandingText.FeatureBox1</a></li>
          <li><a href="#features">@LandingText.FeatureBox2</a></li>
          <li><a href="#features">@LandingText.FeatureBox3</a></li>
          <li><a href="#features">@LandingText.FeatureBox4</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>