<section id="hero" class="hero section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content" data-aos="fade-up" data-aos-delay="200">
          <div class="company-badge mb-4">
            <i class="bi bi-gear-fill me-2"></i>
              @LandingText.ManagingYourFinances
          </div>

          <h1 class="mb-4">
            @LandingText.TakeControl <br>
            @LandingText.YourBudget <br>
            <span class="accent-text">@LandingText.WithEase</span>
          </h1>

          <p class="mb-4 mb-md-5">
            @LandingText.AboutSection
          </p>

          <div class="hero-buttons">
            <a asp-controller="Authentication" asp-action="Register" class="btn btn-primary me-0 me-sm-2 mx-1">@LandingText.GetStarted</a>
            <a href="" class="btn btn-link mt-2 mt-sm-0 glightbox">
              <i class="bi bi-play-circle me-1"></i>
                @LandingText.Video
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-image" data-aos="zoom-out" data-aos-delay="300">
          <img src="~/landing page/img/illustration-1.webp" alt="Hero Image" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="row stats-row gy-4 mt-5" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="stat-icon">
            <i class="bi bi-trophy"></i>
          </div>
          <div class="stat-content">
            <h4>@LandingText.Awards1</h4>
            <p class="mb-0">@LandingText.AwardsDesc1</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="stat-icon">
            <i class="bi bi-briefcase"></i>
          </div>
          <div class="stat-content">
            <h4>@LandingText.Awards2</h4>
            <p class="mb-0">@LandingText.AwardsDesc2</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="stat-icon">
            <i class="bi bi-graph-up"></i>
          </div>
          <div class="stat-content">
            <h4>@LandingText.Awards3</h4>
            <p class="mb-0">@LandingText.AwardsDesc3</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="stat-icon">
            <i class="bi bi-award"></i>
          </div>
          <div class="stat-content">
            <h4>@LandingText.Awards4</h4>
            <p class="mb-0">@LandingText.AwardsDesc4</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>